%section#about
  %h1 What is This?
  = render partial: "about-content"

%section#schedule

  %h1 Schedule
  = link_to 'New Talk', new_talk_path, class: "button success" if admin?

  - @talks_per_day.each_with_index do |day, index|
    %section.day
      %hgroup
        %h1= "Day #{ index + 1 }"
        %span.date
          = day[0].strftime("%b %e, %Y")
          starting at 2:30pm

      - day[1].each do |talk|
        %article.talk{ class: vacant_class?(talk) }
          .speaker-avatar{ style: "background-image: url(#{ gravatar_img_url(talk.speaker_gravatar_hash) })"}
          %header
            %h1.headline= talk.title
            .byline
              By
              = talk.speaker_name_and_title

          - if talk.vacant?
            = render partial: 'vacant-talk-content', locals: { talk: talk }
          - else
            %p= excerpt(talk)

          - if admin?
            .actions
              = link_to 'Edit', edit_talk_path(talk), class: 'edit action button success'
              = link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy action button alert'

%section#location
  %h1 Location
  .address
    %h2 Nexen Theater
    %p
      Spartan/Petro-Canada Centre
      %br
      NAIT Main Campus
      %br
      Princess Elizabeth Avenue Northwest
      %br
      Edmonton, AB, Canada
    %p= link_to "View in Google Maps", "http://goo.gl/maps/UK4vt"
  #map

%aside#share
  = link_to "http://industryseries.eventbrite.com/", class: "register button share" do
    %span= image_tag "http://ebmedia.eventbrite.com/s3-build/perm_001/b955ae/django/images/icons/favicon.ico"
    Get Free Tickets!
  = render partial: "share-links", locals: { url: talks_url, title: "DMIT Web Capstone | Industry Series", summary: "Morbi nulla urna, fringilla non.", image: asset_url("promo-ad-sq-med.png") }

