!!!5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width,initial-scale=1")

    = favicon_link_tag "nait-favicon.png"

    %title Capstone Industry Series | Web Design &amp; Development | DMIT | NAIT

    = stylesheet_link_tag :leaflet, :talks


  %body
    %nav
      .container= render 'layouts/talks-nav'
    %header
      .container
        %h1
          %span.sub DMIT Web Design &amp; Development Capstone
          %span.main Industry Series
        = link_to "Register To Attend!", "http://industryseries.eventbrite.com/", class: "register button"
    #main
      .container
        -if notice
          #notice= raw(notice)
        = yield
    %footer
  = render 'layouts/analytics'
  = javascript_include_tag :application
