!!!5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="description" content="A series of talks by web design and development industry professionals aimed at helping emerging DMIT graduates discover more about the true nature of the industry in Edmonton. Each day of the series will feature two or three talks on various topics.")
    %meta(name="viewport" content="width=device-width,initial-scale=1")

    = favicon_link_tag "nait-favicon.png"

    %title Industry Series | Web Design &amp; Development | DMIT | NAIT

    = stylesheet_link_tag :leaflet, :talks


  %body
    %nav
      .container= render 'layouts/talks-nav'
    %header
      .container
        %h1
          %span.sub DMIT Web Design &amp; Development
          %span.main Industry Series 2013
        = link_to "Free To Attend, Get Your Tickets Now!", "http://industryseries.eventbrite.com/", class: "register button"
    #main
      .container
        -if notice
          #notice= raw(notice)
        = yield
    %footer
      %p
  = render 'layouts/analytics'
  = javascript_include_tag :application
